<div class="container">
  <div class="mat-card">
    <form class="example-form">
      <h2>Mit Eingabe deiner XING-Profil-Url
        wird dein QR-Code erstellt.</h2>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="qrdata" name="qrdata" placeholder="Bitte gebe eine URL ein" style="text-align: left">
      </mat-form-field>
      <mat-card class="cv-card">
        <mat-card-content>
          <qrcode [qrdata]="qrdata" [size]="256" [level]="'L'"></qrcode>
          <mat-card-actions>
            <!--<button mat-button type="submit" (click)="saveQR()">Speichern</button>-->
            <button mat-button type=submit (click)="clear()">Verwerfen</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
