h2{
  font-family: AwesomeFamily;
  font-size: 20px;
}

button{
  background-color: #05d48e;
}

mat-card{
  width: 255px;
}

image{
  z-index: 0;
  transition: opacity 0.5s;
}

qrcode{
  z-index: 1;
  /*position: absolute;*/
}


input  {
  text-align: left;
  color: black;
}



.example-form {
  min-width: 450px;
  max-width: 500px;
  width: 100%;
  font-family: AwesomeFamily;
}

.example-full-width {
  width: 100%;
}


