<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    <img width="150" alt="Academic Work Logo" src="assets/logo/Academic%20Work%20Logo_2018.jpg">
    Welcome to {{ title }}!
  </h1>
</div>
<app-generator></app-generator>

