/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-color: #d0ffe2;
}

@font-face {
  font-family: AwesomeFamily;
}
